In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Device_info.xlsx')

In [4]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [7]:
df.set_index(keys=[0], inplace=True)

In [10]:
df

                                                                   1
0
meta               {'network': '3e6238745fa947a8a59b76cc79892688'...
network                             3e6238745fa947a8a59b76cc79892688
packet_hash                         e18c8476cdfd2a6239275b01dcb75d18
application                                         1111111111111111
device_addr                                                 057c6568
...                                                              ...
counter_up                                                         1
port                                                               3
encrypted_payload                               lGlicncqHsQk9xSzjOM=
id                                                   1693937162032-3
type                                                          uplink

[89 rows x 1 columns]

In [9]:
df.transpose()

,meta,network,packet_hash,application,device_addr,time,device,packet_id,gateway,params,...,gateway,params,rx_time,payload,duplicate,counter_up,port,encrypted_payload,id,type
1,{'network': '3e6238745fa947a8a59b76cc79892688'...,3e6238745fa947a8a59b76cc79892688,e18c8476cdfd2a6239275b01dcb75d18,1111111111111111,057c6568,1693936986.675,0080e115057c6568,f8206cff3495bf59aa01ac529526f24a,80029cd8f1310000,"{'rx_time': 1693936986.6587527, 'payload': 'CA...",...,5813d34d94e20000,"{'rx_time': 1693937162.0143301, 'payload': 'Ao...",1693937162.01433,AoADAAA1GAYCeCNkXRE=,False,1,3,lGlicncqHsQk9xSzjOM=,1693937162032-3,uplink